@inherits LayoutComponentBase

<div>
    <NavMenu></NavMenu>

    @Body
    <Footer></Footer>
    <button class="scroll-to-top" id="scrollToTopBtn" aria-label="Scroll to Top">
        <i class="fas fa-arrow-up"></i>
    </button>
</div>
